@import '../../styles/units.scss';
@import '../../styles/variables.scss';

.Input {
  background: $white;
  border: 0;
  border-radius: 8px;
}

@include tablet {
  /*include if necessary*/
}


@include laptop {
  /*include if necessary*/
}


@include desktop {
  /*include if necessary*/
}


@include extra-large {
  /*include if necessary*/
}
